<%= render 'shared/de_nav_links',:active => "grades" %>
<div class='span9'>
<legend> Grades Index </legend>
<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Cut off Percentage </th>
  	<th> Color Code </th>
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @grades.each do |grade| %>
    <tr>
      <td> <%= link_to grade.name, grade %> </td>
	  <td> <%= grade.cut_off_percentage %> </td>
	  <td> <%= grade.color_code %> </td>
	  <td>
  	    <%= link_to grade, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_grade_path(grade), :class => 'btn btn-mini btn-inverse' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>          
   	    <%= link_to grade, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
<%= render 'shared/controller_action_buttons', :obj => Grade.new, :action => "index" %>
</div>


