<%= render 'shared/nav_links', :for_role => 'data_entry', :active => "semesters" %>
<div class="span6">
  <%= simple_form_for @semester, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> Edit Semester </legend>
    <%= render 'semester_fields', :f => f %>
    <div class="form-actions">
  	  <%= render 'shared/buttons', :obj => @semester, :buttons => {'submit' => "Update", "cancel" => "Cancel" }%>
    </div>  
  <% end %>
</div>
<div class="span3">
  <%= render 'shared/semi_index', :model_name => "Semester",
																:columns => ['name', 'code'] %>
</div>