<%= render 'shared/de_nav_links', :active => "semesters" %>
<div class='span9'>
<legend> Semesters Index </legend>
<%= search_form_for @q, :html => {:class => 'form-horizontal' } do |srch| %>
  <fieldset>
    <div class="control-group">
	  <%= srch.label :name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :name_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>

    <div class="control-group">
	  <%= srch.label :short_name_cont , :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :short_name_cont , :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :code_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :code_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :start_date_gt, "Start Date Greater than" , :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.date_select :start_date_gt, :order => [:day, :month, :year], :prompt => ["Day", "Month", "Year"] %> 
   	  </div>
  	</div>  	  	
  	
    <div class="control-group">
	  <%= srch.label :end_date_lt, "End Date Less than", :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.date_select :end_date_lt, :order => [:day, :month, :year], :prompt => ["Day", "Month", "Year"]  %> 
   	  </div>
  	</div>  	  	  	
  	
    <div class="form-actions">
      <%= srch.submit nil, :class => "btn btn-inverse"%>
    </div>
  </fieldset>
<% end %>  	

<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Short Name </th>
  	<th> Code </th>
  	<th> Starts from </th>
  	<th> Ends at </th>
  	<th> Current Semester</th>
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @semesters.each do |semester| %>
    <tr>
      <td> <%= link_to semester.name, semester %> </td>
	  <td> <%= semester.short_name %> </td>
	  <td> <%= semester.code %> </td>
	  <td> <%= semester.start_date %> </td>
	  <td> <%= semester.end_date %> </td>
	  <td> <%= semester.current_semester ? 'Y' : 'N' %> </td>
	  <td>
  	    <%= link_to semester, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_semester_path(semester), :class => 'btn btn-mini btn-inverse' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>          
   	    <%= link_to semester, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
<%= render 'shared/controller_action_buttons', :obj => Semester.new, :action => "index" %>    
</div>


