<%= render 'shared/de_nav_links',:active => "college" %>
<div class="span9">
  <%= simple_form_for @institution, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> Edit Institution </legend>
    <%= render 'institution_fields', :f => f %>
    <div class="form-actions">
  	  <%= render 'shared/buttons', :obj => @institution, :buttons => {'submit' => "Update", "cancel" => "Cancel" }%>
    </div>  
  <% end %>
  <div class="row">
    <div class="span9 form-actions">
   	  <%= link_to @institution, :class => 'btn btn-large btn-success' do %>
        <i class="icon-file icon-white"> </i> <strong> View this College </strong>
      <% end %>          
    </div>
  </div>    
</div>



