<div id="left-nav">
	
</div>
<div id="double-container">
<h1>Tenants Index </h1>
<%= search_form_for @q do |srch| %>
  <p>
	<%= srch.label :name_cont %>
  	<%= srch.text_field :name_cont %> 
  </p>
    <p>
	<%= srch.label :subdomain_cont %>
  	<%= srch.text_field :subdomain_cont %> 
  </p>
    <p>
	<%= srch.label :email_cont %>
  	<%= srch.text_field :email_cont %> 
  </p>
    <p>
	<%= srch.label :phone_cont %>
  	<%= srch.text_field :phone_cont %> 
  </p>
  <p>
	<%= srch.label :activated_eq, "Activated" %>
  	<%= srch.select :activated_eq, options_for_select([ ['All', ''], ['Activated', true], ['Not Activated', false]])%> 
  </p>
  <p>
	<%= srch.label :locked_eq, "Locked" %>
  	<%= srch.select :locked_eq, options_for_select([ ['All', ''], ['Locked', true], ['Not Locked', false]])%> 
  </p>  
    <!-- <%= srch.hidden_field :subscription_to_gt, :id => "tenant_subscription_to_gt" %> -->
    Expired <%= check_box_tag 'q[subscription_to_gt]', Date.today %>  <i> This is not working. Refer the query </i>
    <p>
    <%= srch.submit %>
  </p>
<% end %>

<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Subdomain </th>
  	<th> Email </th>
  	<th> Phone </th>
  	<th> Subscription From </th>
  	<th> Subscription To </th>
  	<th> Activated </th>
  	<th> Locked </th>
  	<th> Expired </th>
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @tenants.each do |tenant| %>
    <tr>
      <td> <%= link_to tenant.name, tenant %> </td>
	  <td> <%= tenant.subdomain ? @tenant.subdomain : "-" %></td> 
	  <td> <%= tenant.email %> </td>
	  <td> <%= tenant.phone %> </td>
	  <td> <%= tenant.subscription_from %> </td>
	  <td> <%= tenant.subscription_to %> </td>
	  <td> <%= tenant.activated ? 'Y' : 'N' %> </td>
	  <td> <%= tenant.locked ? 'Y' : 'N' %> </td>
	  <td> <%= tenant.subscription_to < Date.today ? 'Y' : 'N' %></td>    
	  <td> <%= link_to "Show", tenant %> | <%= link_to "Edit", edit_tenant_path(tenant) %> | <%= link_to 'Destroy', tenant, :confirm => 'Are you sure?', :method => :delete %> </td>
	</tr>
  <% end %>
</tbody>
</table>

<%= link_to "Add Tenant", new_tenant_path %>
</div>


