<%= render 'shared/admin_nav_links', :active => "tenants" %>
<div class='span9'>
<legend> Tenants Index </legend>
<%= search_form_for @q, :html => {:class => 'form-horizontal' } do |srch| %>
  <fieldset>
    <div class="control-group">
	  <%= srch.label :name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :name_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>

    <div class="control-group">
	  <%= srch.label :subdomain_cont , :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :subdomain_cont , :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :email_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :email_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :phone_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :phone_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>  	  	

    <div class="control-group">
      <%= srch.label :activated_eq, "Activated", :class=> "control-label" %>
      <div class="controls">
  	    <%= srch.select :activated_eq, options_for_select([ ['All', ''], ['Activated', true], ['Not Activated', false]]), {}, {:class => 'span2' } %> 
      </div>
    </div>
    
    <div class="control-group">
      <%= srch.label :locked_eq, "Locked", :class=> "control-label" %>
      <div class="controls">
  	    <%= srch.select :locked_eq, options_for_select([ ['All', ''], ['Locked', true], ['Not Locked', false]]), {}, {:class => 'span2' }%> 
      </div>
    </div>    
    <div class="form-actions">
      <%= srch.submit nil, :class => "btn btn-inverse"%>
    </div>
  </fieldset>
<% end %>

<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Subdomain </th>
  	<th> Email </th>
  	<th> Phone </th>
  	<th> Subscription From </th>
  	<th> Subscription To </th>
  	<th> Activated </th>
  	<th> Locked </th>
  	<th> Expired </th>
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @tenants.each do |tenant| %>
    <tr>
      <td> <%= link_to tenant.name, tenant %> </td>
	  <td> <%= tenant.subdomain ? tenant.subdomain : "-" %></td> 
	  <td> <%= tenant.email %> </td>
	  <td> <%= tenant.phone %> </td>
	  <td> <%= tenant.subscription_from %> </td>
	  <td> <%= tenant.subscription_to %> </td>
	  <td> <%= tenant.activated ? 'Y' : 'N' %> </td>
	  <td> <%= tenant.locked ? 'Y' : 'N' %> </td>
	  <td> 
	    <% if tenant.subscription_to %>
	  	  <%= tenant.subscription_to < Date.today ? 'Y' : 'N' %>
	  	<% end %>
  	  </td>    
	  <td>
  	    <%= link_to tenant, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_tenant_path(tenant), :class => 'btn btn-mini btn-inverse' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>        
   	    <%= link_to tenant, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
  <%= render 'shared/controller_action_buttons', :obj => Tenant.new, :action => "index" %>      
</div>


