<%= render 'shared/nav_links', :for_role => 'admin' %>
<div class="span6">
  <%= simple_form_for @tenant, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> New Tenant </legend>
    <%= render 'tenant_fields', :f => f %>
    
  <div class="form-actions">
  	<%= render 'shared/buttons', :obj => @tenant, :buttons => {'submit' => "Create", "create_and_add" => "Create and Repeat", "cancel" => "Cancel" }%>
  </div>  
  <% end %>
</div>
<div class="span3">
  <%= render 'shared/semi_index', :model_name => "Tenant",
																:columns => ['name', 'activated'] %>
</div>



