<tr class = "tfields">
	<td><%= f.association :school_type %></td>	
	<td><%= f.input :school_name, :size => 15 %></td>	
	<td><%= f.input :percent_marks, :size => 15 %></td>	
	<td><%= f.input :status, :size => 15 %></td>	
	<td><%= link_to_remove_fields "Delete", f %></td>	
</tr>
 

 
	