<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span9">
  <%= render 'shared/de_batches_nav_pills', :active => "students" %>
  <h2><%= @student.name %> </h2>
  <div class="span4 pull-right">
    <div class="thumbnail">
      <%= image_tag @student.image_url(:thumb), :alt => "Hello" %>	
      <div class="caption">
        <p> <%= @student.female ? "Female" : "Male" %> </p>
        <p><%= @student.id_no%> </p>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <td>ID Number</td>
        <td><%= @student.id_no%></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><%= @student.female ? "Female" : "Male" %></td>
      </tr>
      <tr>
        <td>Father's Name</td>
        <td><%= @student.father_name %></td>
      </tr>
      <tr>      	
        <td>Pre College Marks</td>
        <td>
          <% @student.pre_college_marks.each do |pre_college| %>
            <%= pre_college.school_type.name %> <br>
            <%= pre_college.school_name %> <br>
            <%= pre_college.status %> <br>
            <%= pre_college.percent_marks %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Blood Group</td>
        <td><%= @student.blood_group.try(:name) %></td>
      </tr>         
      <tr>
        <td>Date Joined</td>
        <td><%= @student.start_date %></td>
      </tr>         
      <tr>
        <td>Date Departed</td>
        <td><%= @student.end_date %></td>
      </tr>           
      <tr>
        <td>Date Departed</td>
        <td><%= @student.end_date %></td>
      </tr>           
      <tr>
        <td>Address</td>
        <td><%= @student.contact.address %></td>
      </tr>           
      <tr>
        <td>PIN</td>
        <td><%= @student.contact.pin %></td>
      </tr>           
      <tr>
        <td>Email</td>
        <td><%= @student.contact.email %></td>
      </tr>          
      <tr>
        <td>Mobile</td>
        <td><%= @student.contact.mobile %></td>
      </tr>                                           
      <tr>
        <td>Home Phone</td>
        <td><%= @student.contact.home_phone %></td>
      </tr>                                           
      <tr>
        <td>Emergency Phone</td>
        <td><%= @student.contact.emergency_phone %></td>
      </tr>                                                       
    </tbody>  
  </table>
<%= render 'shared/controller_action_buttons', :obj => @student, :action => "show" %>  
</div>