<div class="row">
  <span class="span1">
    <div class="thumbnail">
      <%= image_tag @faculty.image_url if @faculty.image  %>	
     </div>
  </span>
</div>
<%= f.file_field :image, :label => 'Photo' %>
<%= f.input :remote_image_url, :label => "or Image URL" %>
<label>  <%= f.check_box :remove_image %> Remove Image </label>
<%= f.hidden_field :image_cache %>

<%= f.input :name  %>
<%= f.input :id_no, :label => "ID Number"  %>
<%= f.input :female, :label => "* Gender" do %>
  <% if f.object.new_record?%>
    <%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ] ) , {:include_blank => ''}  %>
  <% else %>
    <%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ], f.object.female? ) , {:include_blank => ''}  %>
  <% end %>	
<% end %>
<%= f.association :designation %>            
<%= f.input :qualification %>
<%= f.input :start_date, :label => "Date Joined",:as => :date, :start_year => Date.today.year - 5,
                              :end_year => Date.today.year + 5,:order => [:day, :month, :year], :prompt => ['day', 'month', 'year'], :input_html => { :class => 'span1'}%>
<%= f.input :end_date, :label => "Date Departed", :as => :date, :start_year => Date.today.year - 5,
                              :end_year => Date.today.year + 5,:order => [:day, :month, :year], :prompt => ['day', 'month', 'year'], :input_html => { :class => 'span1' }%>                              
<%= f.association :blood_group %>          
<%= f.fields_for :contact do |builder| %>	
  <%= render "shared/contact_fields", :f => builder, :obj => "Faculty" %>	 	  
<% end %>  





