<%= render 'shared/nav_links', :for_role => 'data_entry', :active => "faculties" %>
<div class="span6">
  <%= simple_form_for @faculty, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> Edit Faculty </legend>
    <%= render 'faculty_fields', :f => f %>
    <div class="form-actions">
  	  <%= render 'shared/buttons', :obj => @faculty, :buttons => {'submit' => "Update", "cancel" => "Cancel" }%>
    </div>  
  <% end %>
</div>
<div class="span3">
  <%= render 'shared/semi_index', :model_name => "Faculty",
																:columns => ['name', 'id_no'] %>
</div>