<ul class="nav nav-pills">        
  <% if active == "hods"%>
    <li class= "active">
      <%= link_to '#' do %>
        <i class="icon-file"> </i> <strong> HODs </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to '#' do %>
        <i class="icon-file"> </i> <strong> HODs </strong>
      <% end %>   
    </li>
  <% end %>  	
  <% if active == "subjects"%>
    <li class= "active">
      <%= link_to subjects_sections_path do %>
        <i class="icon-file"> </i> <strong> Assign Subjects </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to subjects_sections_path do %>
        <i class="icon-file"> </i> <strong> Assign Subjects  </strong>
      <% end %>   
    </li>
  <% end %>
  <% if active == "faculties"%>
    <li class= "active">
      <%= link_to faculties_sections_path do %>
        <i class="icon-file"> </i> <strong> Assign Faculties </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to faculties_sections_path do %>
        <i class="icon-file"> </i> <strong> Assign Faculties  </strong>
      <% end %>   
    </li>
  <% end %>
  <% if active == "exams"%>
    <li class= "active">
      <%= link_to exams_sections_path do %>
        <i class="icon-file"> </i> <strong> Assign Exams </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to exams_sections_path do %>
        <i class="icon-file"> </i> <strong> Assign Exams  </strong>
      <% end %>   
    </li>
  <% end %>    
  
  <% if active == "arrear_students"%>
    <li class= "active">
      <%= link_to arrear_students_sections_path do %>
        <i class="icon-file"> </i> <strong> Arrear Students </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to arrear_students_sections_path do %>
        <i class="icon-file"> </i> <strong> Arrear Students  </strong>
      <% end %>   
    </li>
  <% end %>    
  
  <% if active == "marks"%>
    <li class= "active">
      <%= link_to marks_sections_path do %>
        <i class="icon-file"> </i> <strong> Marks </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to marks_sections_path do %>
        <i class="icon-file"> </i> <strong> Marks </strong>
      <% end %>   
    </li>
  <% end %>      
    
</ul>
