  <div class="span2">
    <ul class="nav nav-list">
      <li class="nav-header">MASTER LIST </li>
        
      <% if active == "college"%>
        <li class= "active">
          <%= link_to institution_new_url do %>
            <i class="icon-file"> </i> College
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to institution_root_url do %>
            <i class="icon-file"> </i> College
          <% end %>   
        </li>
      <% end %>        
      
      <% if active == "semesters"%>
        <li class= "active">
          <%= link_to semesters_path do %>
            <i class="icon-file"> </i> Semesters
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to semesters_path do %>
            <i class="icon-file"> </i> Semesters
          <% end %>   
        </li>
      <% end %>        

      <% if active == "departments"%>
        <li class= "active">
          <%= link_to departments_path do %>
            <i class="icon-file"> </i> Departments
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to departments_path do %>
            <i class="icon-file"> </i> Departments
          <% end %>   
        </li>
      <% end %>        
      
      <% if active == "batches"%>
        <li class= "active">
          <%= link_to batches_path do %>
            <i class="icon-file"> </i> Batches
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to batches_path do %>
            <i class="icon-file"> </i> Batches
          <% end %>   
        </li>
      <% end %>             
      
      <% if active == "students"%>
        <li class= "active">
          <%= link_to students_path do %>
            <i class="icon-file"> </i> Students
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to students_path do %>
            <i class="icon-file"> </i> Students
          <% end %>   
        </li>
      <% end %>      
      
      <% if active == "faculties"%>
        <li class= "active">
          <%= link_to faculties_path do %>
            <i class="icon-file"> </i> Faculties
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to faculties_path do %>
            <i class="icon-file"> </i> Faculties
          <% end %>   
        </li>
      <% end %>        
      
      <% if active == "subjects"%>
        <li class= "active">
            <%= link_to subjects_path do %>
              <i class="icon-file"> </i> Subjects
            <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to subjects_path do %>
            <i class="icon-file"> </i> Subjects
          <% end %>   
        </li>
        <% end %>        
      
      <% if active == "exams"%>
        <li class= "active">
          <%= link_to exams_path do %>
            <i class="icon-file"> </i> Exams
          <% end %>   
        </li>
      <% else %>
          <li>
            <%= link_to exams_path do %>
              <i class="icon-file"> </i> Exams
            <% end %>   
          </li>
      <% end %>        
      
      <li class="divider"></li>            
      
   	  <li class="nav-header">DATA ENTRY </li>
   	  
      <% if active == "associate_batches"%>
        <li class= "active">
          <%= link_to sections_path do %>
            <i class="icon-file"> </i> Associate Batches
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to sections_path do %>
            <i class="icon-file"> </i> Associate Batches
          <% end %>   
        </li>
      <% end %>        
    
      <% if active == "associate_semesters"%>
        <li class= "active">
          <%= link_to hods_departments_path do %>
            <i class="icon-file"> </i> Associate Semesters
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to hods_departments_path do %>
            <i class="icon-file"> </i> Associate Semesters
          <% end %>   
        </li>
      <% end %>          
      
      <li class="divider"></li>            
      
   	  <li class="nav-header">RESOURCES AND SETTINGS </li>
   	  
      <% if active == "school_types"%>
        <li class= "active">
          <%= link_to school_types_path do %>
            <i class="icon-file"> </i> School Types
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to school_types_path do %>
            <i class="icon-file"> </i> School Types
          <% end %>   
        </li>
      <% end %>
      
      <% if active == "blood_groups"%>
        <li class= "active">
          <%= link_to blood_groups_path do %>
            <i class="icon-file"> </i> Blood Groups
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to blood_groups_path do %>
            <i class="icon-file"> </i> Blood Groups
          <% end %>   
        </li>
      <% end %>        	        
   	  
      <% if active == "user_profiles"%>
        <li class= "active">
          <%= link_to user_profiles_path do %>
            <i class="icon-file"> </i> User Profiles
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to user_profiles_path do %>
            <i class="icon-file"> </i> User Profiles
          <% end %>   
        </li>
      <% end %>     
    
      <% if active == "settings"%>
        <li class= "active">
          <%= link_to '#' do %>
            <i class="icon-file"> </i> Settings
          <% end %>   
        </li>
      <% else %>
        <li>
          <%= link_to '#' do %>
            <i class="icon-file"> </i> Settings
          <% end %>   
        </li>
      <% end %>     
    </ul>
  </div>