<%= render 'shared/de_nav_links', :active => "departments" %>
<div class="span9">
	<legend><%= @department.name %> </legend>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @department.name %></td>
      </tr>
      <tr>
        <td>Short Name</td>
        <td><%= @department.short_name %></td>
      </tr>
      <tr>
        <td>Code</td>
        <td><%= @department.code %></td>
      </tr>
    </tbody>  
  </table>
<%= render 'shared/controller_action_buttons', :obj => @department, :action => "show" %>    
</div>