<%= form_tag url_for(:controller => 'sections', :action => 'update_arrear_students', :id => @section.id), :method => 'post', :class => "form-horizontal" do %>
  <legend> Arrear Students</legend>
    <fieldset>
      Section: <%= @section.name %><br>
      Semester: <%= Semester.find(@semester.id).name %><br><br>
      <%= hidden_field_tag 'semester_id', nil, :value => @semester.id %>    	
      <% SecSubMap.for_semester(@semester.id).for_section(@section.id).order('subject_id').all.each do |map| %>
        <% sub = map.subject %>
        <div class="control-group">
	      <div class="controls">
	      	<% arrear_students_list = [] %>
	      	<% ArrearStudent.for_semester(@semester.id).for_section(@section.id).for_subject(sub.id).all.each do |arr_stu| %>
	      	  <% arrear_students_list << {:id => arr_stu.student_id, :rabl_name => arr_stu.student.rabl_name}%>
	      	<% end %>
	      	<% sub_type = sub.lab ? "(Practicals)" : "" %>
	      	<strong> <%= sub.name + " " +  sub_type %> </strong> <br>
		    <%= text_area_tag "arrear_students[#{sub.id}][]", nil, :class => 'token-input span4',  :data => {:target_url => '/selectors/students.json', :pre => arrear_students_list.to_json } %> 
   	      </div>
  	    </div>        
      <% end %>
      <div class="form-actions">
        <%= button_tag(:type => 'submit', :name => 'create', :class => "btn btn-success btn-large" ) do %>
          <i class="icon-ok icon-white"> </i> <strong> Update Students </strong>
        <% end %>  
      </div>  
    <fieldset>
<% end %>