<%= form_tag url_for(:controller => 'sections', :action => 'update_exams', :id => @section.id), :method => 'post', :class => "form-horizontal" do %>
  <legend> Select Exams </legend>
    <fieldset>
      Section: <%= @section.name %><br>
      Semester: <%= Semester.find(@semester.id).name %><br><br>
      <%= hidden_field_tag 'semester_id', nil, :value => @semester.id %>
      <% 
      #We cannot use the simple form the display the association exams for the section instance. It will mean that the exams across the semesters are applicable
      # for this semester. i.e. the check box will be selected for all the exams across all the semesters. So we need to limit it to the current semester 
      %>
      <div class="control-group">
        <label class="control-label">Exams</label>
        <div class="controls">
        	<% @exams.each do |ex| %>
          <label class="checkbox">
            <%= check_box_tag "section[exam_ids][]", ex.id, SecExamMap.for_semester(@semester.id).for_section(@section.id).for_exam(ex.id).present? %> <%= ex.name  %> 
          </label>
          <% end %>
          <p class="help-block"><strong>Select the exams for the semester - <%= Semester.find(@semester.id).name %></strong></p>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag(:type => 'submit', :name => 'create', :class => "btn btn-success btn-large" ) do %>
          <i class="icon-ok icon-white"> </i> <strong> Update Exams </strong>
        <% end %>  
      </div>  
  </fieldset>
<% end %>