<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span6">
  <%= render 'shared/de_batches_nav_pills', :active => "sections"%>
  <%= simple_form_for @section, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> Edit Section </legend>
    <%= render 'section_fields', :f => f %>
    <div class="form-actions">
  	  <%= render 'shared/buttons', :obj => @section, :buttons => {'submit' => "Update", "cancel" => "Cancel" }  %>
    </div>  
  <% end %>
  <%= render 'shared/controller_action_buttons', :obj => @section, :action => "edit" %>    
</div>
<%= render 'shared/semi_index', :model_name => "Section" %>
