<%= render 'shared/nav_links', :for_role => 'data_entry', :active => "sections" %>
<div class='span9'>
<h1>Sections Index </h1>
<%= search_form_for @q, :html => {:class => 'form-horizontal' } do |srch| %>
  <fieldset>
    <div class="control-group">
	  <%= srch.label :name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :name_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>

    <div class="control-group">
	  <%= srch.label :short_name_cont , :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :short_name_cont , :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :code_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :code_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :department_name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :department_name_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :batch_name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :batch_name_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>  	  	

    <div class="form-actions">
      <%= srch.submit nil, :class => "btn btn-primary"%>
    </div>
  </fieldset>
<% end %>  	

<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Short Name </th>
  	<th> Code </th>
  	<th> Department</th>
  	<th> Batch </th>  	  	
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @sections.each do |section| %>
    <tr>
      <td> <%= link_to section.name, section %> </td>
	  <td> <%= section.short_name %> </td>
	  <td> <%= section.code %> </td>
	  <td> <%= section.department.name %> </td>
	  <td> <%= section.batch.name %> </td>	  	  
	  <td>
  	    <%= link_to section, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_section_path(section), :class => 'btn btn-mini btn-warning' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>          
   	    <%= link_to section, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
<br>
<p>
  <%= link_to "Add Section", new_section_path %>
<p>
</div>


