<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span9">
  <%= render 'shared/de_batches_nav_pills', :active => "sections"%>
<legend> Sections Index </legend>
<%= search_form_for @q, :html => {:class => 'form-horizontal' } do |srch| %>
  <fieldset>
    <div class="control-group">
	  <%= srch.label :name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :name_cont %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
      <%= srch.label :department_id_eq, "Department", :class=> "control-label" %>
      <div class="controls">
      	<% if params[:q] %>
  	      <%= srch.select :department_id_eq,  options_for_select(Department.all.collect {|d| [ d.name, d.id ] }, params[:q][:department_id_eq]) , {:include_blank => true }  %>
  	    <% else %>
  	      <%= srch.select :department_id_eq,  options_for_select(Department.all.collect {|d| [ d.name, d.id ] }) , {:include_blank => true }  %>
  	    <% end %>
      </div>
    </div>
  	
    <div class="control-group">
      <%= srch.label :batch_id_eq, "Batch", :class=> "control-label" %>
      <div class="controls">
      	<% if params[:q] %>
  	      <%= srch.select :batch_id_eq,  options_for_select(Batch.all.collect {|b| [ b.name, b.id ] }, params[:q][:batch_id_eq]) , {:include_blank => true }  %>
  	    <% else %>
  	      <%= srch.select :batch_id_eq,  options_for_select(Batch.all.collect {|b| [ b.name, b.id ] }) , {:include_blank => true }  %>
  	    <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= srch.submit nil, :class => "btn btn-inverse"%>
    </div>
  </fieldset>
<% end %>  	

<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Short Name </th>
  	<th> Code </th>
  	<th> Department</th>
  	<th> Batch </th>  	  	
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @sections.each do |section| %>
    <tr>
      <td> <%= link_to section.name, section %> </td>
	  <td> <%= section.short_name %> </td>
	  <td> <%= section.code %> </td>
	  <td> <%= section.department.name %> </td>
	  <td> <%= section.batch.name %> </td>	  	  
	  <td>
  	    <%= link_to section, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_section_path(section), :class => 'btn btn-mini btn-inverse' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>          
   	    <%= link_to section, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
<%= render 'shared/controller_action_buttons', :obj => Section.new, :action => "index" %>  
</div>


