<%= render 'shared/de_nav_links', :active => "sections" %>
<div class="span6">
  <%= simple_form_for @section, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> New Section </legend>
    <%= render 'section_fields', :f => f %>
    <div class="form-actions">
  	  <%= render 'shared/buttons', :obj => @section, :buttons => {'submit' => "Create",  "create_and_add_students" => "Create and Add Students", "cancel" => "Cancel" }%>
    </div>  
  <% end %>
  <%= render 'shared/controller_action_buttons', :obj => @section, :action => "new" %>    
</div>
<%= render 'shared/semi_index', :model_name => "Section" %>
