<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span9">
  <%= render 'shared/de_batches_nav_pills', :active => "sections"%>
    <div class="span9 form-actions">
  <%= link_to students_path(:section_id => @section.id) , :class => 'btn btn-large btn-info' do %>
    <i class="icon-th icon-white"> </i> <strong> View Students </strong>
  <% end %>
  <%= link_to new_student_path(:section_id => @section.id) , :class => 'btn btn-large btn-info' do %>
    <i class="icon-plus icon-white"> </i> <strong> Add Students </strong>
  <% end %>
    </div>             
  <legend><%= @section.name %> </legend>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @section.name %></td>
      </tr>
      <tr>
        <td>Short Name</td>
        <td><%= @section.short_name %></td>
      </tr>
      <tr>
      <tr>      	
        <td>Code</td>
        <td><%= @section.code %></td>
      </tr>      	
      <tr>
        <td>Department</td>
        <td><%= @section.department.name %></td>
      </tr>
      <tr>
        <td>Batch</td>
        <td><%= @section.batch.name %></td>
      </tr>
    </tbody>  
  </table>
  <%= render 'shared/controller_action_buttons', :obj => @section, :action => "show" %>    
</div>