<%= render 'shared/de_nav_links',:active => "user_profiles" %>
<div class="span9">
	<legend><%= @user_profile.user.name %> </legend>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Login</td>
        <td><%= @user_profile.login %></td>
      </tr>
      <tr>
        <td>Profile Type</td>
        <td><%= @user_profile.user_type %></td>
      </tr>
      <tr>
        <td>Activated </td>
        <td><%= @user_profile.activated ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><%= @user_profile.locked ? "Yes" : "No" %></td>
      </tr>
      <tr>      	      	
        <td>Roles</td>
        <td>
          <% @user_profile.roles.each do |role| %>
		    <%= role.name %> <br>
	      <% end %>
        </td>
      </tr>
    </tbody>  
  </table>
  <%= render 'shared/controller_action_buttons', :obj => @user_profile, :action => "show" %>    
</div>

	



	

