<%= render 'shared/admin_nav_links', :active => "resources" %>
<div class="span9">
<legend> Resources Index </legend>
<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Description </th>
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @resources.each do |resource| %>
    <tr>
      <td> <%= link_to resource.name, resource %> </td>
	  <td> <%= resource.description %> </td>
	  <td>
  	    <%= link_to resource, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_resource_path(resource), :class => 'btn btn-mini btn-inverse' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>          
   	    <%= link_to resource, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
<%= render 'shared/controller_action_buttons', :obj => Resource.new, :action => "index" %>
</div>



