<%
# In case we need to use the select instead of select_tag. Note that the html_options are separate from the include_blank in the select method
# select( 'selector', 'batch_id', @batches.collect {|bat| [ bat.name, bat.id ] }, 
#																	{:include_blank => true }, 
#																	{:id => 'batch-selector', :data => {:base => 'batch', :required => 'section', :target => 'section-selector'}}) 
%>

<%= form_tag '#', :method => 'get', :class => "selector-form  form-inline", :data => {:target_url => target_url} do %>
  <table>
    <tr>
    	<td>Semester</td>
    	<td>Batch</td>
    	<td>Section</td>
    	<td></td>
    </tr>
    <tr>
      <td>	
        <%= select_tag( :semester_id, options_from_collection_for_select(@semesters, "id", "name"),
        																	:include_blank => true, 
        																	:id => 'semester-selector',
        																	:class => 'span2', 
        																	:data => {:base => 'semester', :required => 'batch', :target => 'batch-selector'}) %> 
      </td>
      <td>        																		 
        <%= select_tag( :batch_id, options_from_collection_for_select([], "id", "name"),
        																	:include_blank => true, 
        																	:id => 'batch-selector', 
        																	:class => 'span2',
        																	:data => {:base => 'batch', :required => 'section', :target => 'section-selector'}) %>      																	 	
      </td>
      <td>            
        <%= select_tag( :section_id, options_from_collection_for_select([], "id", "name"),
        																	:include_blank => true, 
        																	:class => 'span3',
        																	:id => 'section-selector',
        																	:data => {:target =>'selector-submit'}) %> 
      </td>
      <td>          																	
        <%= submit_tag nil, :class => "btn btn-inverse", :id => 'selector-submit' %>
      </td>
    </tr>
  </table>    
<% end %>  