<% @semesters = Array.new if !@semesters %>
<% @batches = Array.new if !@batches %>
<% @sections = Array.new if !@sections %>
<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span6">
  <%= render 'shared/de_batches_nav_pills', :active => "sections"%>
  
  <%= form_tag subjects_sections_path, :method => 'get', :class => "selector-form  form-horizontal" do %>
    <fieldset>
      <div class="control-group">
	    <%= label_tag "Semester",nil, :class=> "control-label" %>
	    <div class="controls">
          <%= select( 'selector', 'semester_id', @semesters.collect {|sem| [ sem.name, sem.id ] }, 
          																	{:include_blank => true}, 
          																	{:id => 'semester-selector',:data => {:base => 'semester', :required => 'batch', :target => 'batch-selector'}}) %> 	  	
   	    </div>
   	  </div>
      <div class="control-group">
	    <%= label_tag "Batch",nil, :class=> "control-label" %>
	    <div class="controls">
          <%= select( 'selector', 'batch_id', @batches.collect {|bat| [ bat.name, bat.id ] }, 
          																	{:include_blank => true}, 
          																	{:id => 'batch-selector', :data => {:base => 'batch', :required => 'section', :target => 'section-selector'}}) %> 	  	
   	    </div>   	    
  	  </div> 
      <div class="control-group">
	    <%= label_tag "Section",nil, :class=> "control-label" %>
	    <div class="controls">
          <%= select( 'selector', 'section_id', @sections.collect {|sec| [ sec.name, sec.id ] }, 
          																	{:include_blank => true}, 
          																	{:id => 'section-selector'}) %> 	  	
   	    </div>   	    
  	  </div>  	      	
      <div class="form-actions">
        <%= submit_tag nil, :class => "btn btn-inverse"%>
      </div>
    </fieldset>
  <% end %>  

  <span id = "ajax_subjects_form">  
    <% if @section && @semester %>
      <%= render 'subjects_form'%>
    <% end %>
  </span>

</div>

<%= render 'shared/semi_index', :model_name => "Section" %>