<%= render 'shared/de_nav_links',:active => "exams" %>
<div class='span9'>
<legend> Exams Index </legend>
<%= search_form_for @q, :html => {:class => 'form-horizontal' } do |srch| %>
  <fieldset>
    <div class="control-group">
	  <%= srch.label :name_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :name_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>

    <div class="control-group">
	  <%= srch.label :short_name_cont , :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :short_name_cont , :class=> "input-medium" %> 
   	  </div>
  	</div>
  	
    <div class="control-group">
	  <%= srch.label :code_cont, :class=> "control-label" %>
	  <div class="controls">
   	    <%= srch.text_field :code_cont, :class=> "input-medium" %> 
   	  </div>
  	</div>

    <div class="form-actions">
      <%= srch.submit nil, :class => "btn btn-inverse"%>
    </div>
  </fieldset>
<% end %>  	

<table class = 'datatable_full'>
<thead>
  <tr>
  	<th> Name </th>
  	<th> Short Name </th>
  	<th> Code </th>
  	<th> Actions </th>
  </tr>
</thead>
<tbody>
  <% @exams.each do |exam| %>
    <tr>
      <td> <%= link_to exam.name, exam %> </td>
	  <td> <%= exam.short_name %> </td>
	  <td> <%= exam.code %> </td>
	  <td>
  	    <%= link_to exam, :class => 'btn btn-mini btn-info' do %>
          <i class="icon-file icon-white"> </i> View
        <% end %>
   	    <%= link_to edit_exam_path(exam), :class => 'btn btn-mini btn-inverse' do %>
          <i class="icon-pencil icon-white"> </i> Edit
        <% end %>          
   	    <%= link_to exam, :class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete do %>
          <i class="icon-trash icon-white"> </i> Delete
        <% end %>   
      </td>    
	</tr>
  <% end %>
</tbody>
</table>
<%= render 'shared/controller_action_buttons', :obj => Exam.new, :action => "index" %>
</div>


