<%= render 'shared/de_nav_links',:active => "exams" %>
<div class="span9">
	<legend><%= @exam.name %> </legend>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @exam.name %></td>
      </tr>
      <tr>
        <td>Short Name</td>
        <td><%= @exam.short_name %></td>
      </tr>
      <tr>
        <td>Code</td>
        <td><%= @exam.code %></td>
      </tr>
    </tbody>  
  </table>
  <%= render 'shared/controller_action_buttons', :obj => @exam, :action => "show" %>    
</div>